.todo-block {
	display: flex;
	justify-content: space-between;
	width: 600px;
	margin-top: 20px;
	padding: 12px;
	border-radius: 15px;
	background-color: rgb(172, 126, 225);
}


.todo-block-text {
	color: white;
	font-size: 18px;
	display: block;
	margin: auto 0px ;
	text-align: start;
	width: 80%;
}

.line-through {
	text-decoration: line-through black;
}

.button-delete {
	width: 80px;
	height: 30px;
	font-size: 16px;
	border-radius: 10px;
	background-color: red;
	color: white;
	margin-left: 20px;

}

img {
	/* position: relative; */
	/* margin-bottom: -16px; */
	/* margin-left: 10px; */
}